---
title: 'Interior Home Painting | Vivid Interior Home Painting | Syracuse, NY'
description: 'Meta description for the page'
preloadImg: '/assets/images/landing.jpg'
permalink: '/'
tags: 'sitemap' # Sitemap will use all pages in content/, due to content.json. As index.html is not included in content/ we need to manually add the sitemap tag to this page (only).
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/local.css"/>
    <link rel="stylesheet" href="/assets/css/critical.css"/>

    <!-- Script for Netlify Identity -->
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script defer>
        if (window.netlifyIdentity) {
            window
                .netlifyIdentity
                .on('init', (user) => {
                    if (!user) {
                        window
                            .netlifyIdentity
                            .on('login', () => {
                                document.location.href = '/admin/';
                            });
                    }
                });
        }
    </script>
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                     Hero                     -->
    <!-- ============================================ -->

    <section id="hero-1946">
        <div class="cs-container">
            <div class="cs-content">
                <h2 class="cs-title">Bringing Vibrant Colors and Expert Craftsmanship to Your Home</h2>
                <div class="cs-flex">
                    <p class="cs-text">Transforming Every Room with Precision and Care, Our Team Delivers Stunning Interior and Exterior Painting Services Tailored to Your Unique Vision</p>
                    <a href="" class="cs-button-10" aria-label="read more about us">
                        Learn More
                        <svg class="cs-icon" aria-hidden="true" width="30" height="24" viewBox="0 0 30 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M14.83 11.29L10.59 7.05001C10.497 6.95628 10.3864 6.88189 10.2646 6.83112C10.1427 6.78035 10.012 6.75421 9.88 6.75421C9.74799 6.75421 9.61729 6.78035 9.49543 6.83112C9.37357 6.88189 9.26297 6.95628 9.17 7.05001C8.98375 7.23737 8.87921 7.49082 8.87921 7.75501C8.87921 8.0192 8.98375 8.27265 9.17 8.46001L12.71 12L9.17 15.54C8.98375 15.7274 8.87921 15.9808 8.87921 16.245C8.87921 16.5092 8.98375 16.7626 9.17 16.95C9.26344 17.0427 9.37426 17.116 9.4961 17.1658C9.61794 17.2155 9.7484 17.2408 9.88 17.24C10.0116 17.2408 10.1421 17.2155 10.2639 17.1658C10.3857 17.116 10.4966 17.0427 10.59 16.95L14.83 12.71C14.9237 12.617 14.9981 12.5064 15.0489 12.3846C15.0997 12.2627 15.1258 12.132 15.1258 12C15.1258 11.868 15.0997 11.7373 15.0489 11.6154C14.9981 11.4936 14.9237 11.383 14.83 11.29Z" fill="white"/>
                            <path d="M20.83 11.29L16.59 7.05001C16.497 6.95628 16.3864 6.88189 16.2646 6.83112C16.1427 6.78035 16.012 6.75421 15.88 6.75421C15.748 6.75421 15.6173 6.78035 15.4954 6.83112C15.3736 6.88189 15.263 6.95628 15.17 7.05001C14.9838 7.23737 14.8792 7.49082 14.8792 7.75501C14.8792 8.0192 14.9838 8.27265 15.17 8.46001L18.71 12L15.17 15.54C14.9838 15.7274 14.8792 15.9808 14.8792 16.245C14.8792 16.5092 14.9838 16.7626 15.17 16.95C15.2634 17.0427 15.3743 17.116 15.4961 17.1658C15.6179 17.2155 15.7484 17.2408 15.88 17.24C16.0116 17.2408 16.1421 17.2155 16.2639 17.1658C16.3857 17.116 16.4966 17.0427 16.59 16.95L20.83 12.71C20.9237 12.617 20.9981 12.5064 21.0489 12.3846C21.0997 12.2627 21.1258 12.132 21.1258 12C21.1258 11.868 21.0997 11.7373 21.0489 11.6154C20.9981 11.4936 20.9237 11.383 20.83 11.29Z" fill="white"/>
                        </svg>
                    </a>
                </div>
            </div>
            <picture class="cs-picture">
                <source media="(min-width: 601px)" srcset="/assets/images/pexels-kamo11235-667838.jpg">
                <source media="(max-width: 600px)" srcset="/assets/images/pexels-kamo11235-667838.jpg">
                <img decoding="async" src="/assets/images/pexels-kamo11235-667838.jpg" alt="construction site" width="1280" height="510">
            </picture>
            <ul class="cs-card-group">
                <li class="cs-item">
                    <picture class="cs-icon-picture">
                        <img class="cs-icon" src="/assets/svgs/home-repair-painting-svgrepo-com.svg" decoding="async" alt="icon" width="40" height="40" aria-hidden="true">
                    </picture>
                    <!-- Text Grouped For Flexbox-->
                    <div class="cs-text-group">
                        <h3 class="cs-h3">Interior Painting</h3>
                        <p class="cs-item-text">Enhance your home's interior with vibrant colors and flawless finishes tailored to your style.</p>
                    </div>
                </li>
                <li class="cs-item">
                    <picture class="cs-icon-picture">
                        <img class="cs-icon" src="/assets/svgs/home-svgrepo-com.svg" decoding="async" alt="icon" width="40" height="40" aria-hidden="true">
                    </picture>
                    <!-- Text Grouped For Flexbox-->
                    <div class="cs-text-group">
                        <h3 class="cs-h3">Exterior Painting</h3>
                        <p class="cs-item-text">Refresh your home's exterior with durable, weather-resistant paint that stands the test of time.</p>
                    </div>
                </li>
                <li class="cs-item">
                    <picture class="cs-icon-picture">
                        <img class="cs-icon" src="/assets/svgs/office-building-svgrepo-com.svg" decoding="async" alt="icon" width="40" height="40" aria-hidden="true">
                    </picture>
                    <!-- Text Grouped For Flexbox-->
                    <div class="cs-text-group">
                        <h3 class="cs-h3">Commercial Painting</h3>
                        <p class="cs-item-text">Delivering high-quality painting solutions for businesses, ensuring a polished and professional look.</p>
                    </div>
                </li>
                <li class="cs-item">
                    <picture class="cs-icon-picture">
                        <img class="cs-icon" src="/assets/svgs/custom-svgrepo-com.svg" decoding="async" alt="icon" width="40" height="40" aria-hidden="true">
                    </picture>
                    <!-- Text Grouped For Flexbox-->
                    <div class="cs-text-group">
                        <h3 class="cs-h3">Custom Projects</h3>
                        <p class="cs-item-text">From murals to accent walls, our team creates bespoke designs that make your space unique.</p>
                    </div>
                </li>
            </ul>
        </div>
    </section>
                                

    <!-- ============================================ -->
    <!--             Side by Side Reverse             -->
    <!-- ============================================ -->

    <section id="sbs-r-1892">
        <div class="cs-container">
            <div class="cs-image-group">
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="/assets/images/pexels-blue-bird-7217999.jpg">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="/assets/images/pexels-blue-bird-7217999.jpg">
                    <img loading="lazy" decoding="async" src="/assets/images/pexels-blue-bird-7217999.jpg" alt="dermatologist" width="324" height="467">
                </picture>
                <img class="cs-graphic cs-beige" loading="lazy" decoding="async" src="/assets/svgs/beige-reverse.svg" alt="graphic" width="379" height="394" aria-hidden="true">
                <img class="cs-graphic cs-lines" loading="lazy" decoding="async" src="/assets/svgs/mesh-reverse.svg" alt="graphic" width="189" height="208" aria-hidden="true">
                <div class="cs-info">
                    <p class="cs-info-text">
                        <span class="cs-bold">Top Rated</span>
                        We are one of the top rated home painters in Syracuse, NY
                    </p>
                </div>
            </div>
            <div class="cs-content">
                <div class="cs-flex">
                    <span class="cs-topper">About us</span>
                    <h2 class="cs-title">Transforming Spaces with Vibrant Colors and Precision</h2>
                </div>
                <p class="cs-text">
                    Our commitment to excellence extends beyond just the aesthetics. We use only premium paints and materials to guarantee a long-lasting and durable result, capable of withstanding the test of time and the elements. Whether it's refreshing the exterior of your home to boost curb appeal or adding a pop of color to your interior, we work closely with you to understand your vision and bring it to life with precision and care.
                </p>
                <p class="cs-text">
                    At Vivid Painting, customer satisfaction is our top priority. From the initial consultation to the final walkthrough, we ensure a smooth and hassle-free experience. Our team is not only skilled in their craft but also respectful of your space, maintaining cleanliness and minimal disruption throughout the project. Choose Vivid Painting for a vibrant transformation and let us make your home or business truly stand out.
                </p>
                <a href="" class="cs-button-10" aria-label="read more about us">
                    More About Us
                    <svg class="cs-icon" aria-hidden="true" width="30" height="24" viewBox="0 0 30 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M14.83 11.29L10.59 7.05001C10.497 6.95628 10.3864 6.88189 10.2646 6.83112C10.1427 6.78035 10.012 6.75421 9.88 6.75421C9.74799 6.75421 9.61729 6.78035 9.49543 6.83112C9.37357 6.88189 9.26297 6.95628 9.17 7.05001C8.98375 7.23737 8.87921 7.49082 8.87921 7.75501C8.87921 8.0192 8.98375 8.27265 9.17 8.46001L12.71 12L9.17 15.54C8.98375 15.7274 8.87921 15.9808 8.87921 16.245C8.87921 16.5092 8.98375 16.7626 9.17 16.95C9.26344 17.0427 9.37426 17.116 9.4961 17.1658C9.61794 17.2155 9.7484 17.2408 9.88 17.24C10.0116 17.2408 10.1421 17.2155 10.2639 17.1658C10.3857 17.116 10.4966 17.0427 10.59 16.95L14.83 12.71C14.9237 12.617 14.9981 12.5064 15.0489 12.3846C15.0997 12.2627 15.1258 12.132 15.1258 12C15.1258 11.868 15.0997 11.7373 15.0489 11.6154C14.9981 11.4936 14.9237 11.383 14.83 11.29Z" fill="white"/>
                        <path d="M20.83 11.29L16.59 7.05001C16.497 6.95628 16.3864 6.88189 16.2646 6.83112C16.1427 6.78035 16.012 6.75421 15.88 6.75421C15.748 6.75421 15.6173 6.78035 15.4954 6.83112C15.3736 6.88189 15.263 6.95628 15.17 7.05001C14.9838 7.23737 14.8792 7.49082 14.8792 7.75501C14.8792 8.0192 14.9838 8.27265 15.17 8.46001L18.71 12L15.17 15.54C14.9838 15.7274 14.8792 15.9808 14.8792 16.245C14.8792 16.5092 14.9838 16.7626 15.17 16.95C15.2634 17.0427 15.3743 17.116 15.4961 17.1658C15.6179 17.2155 15.7484 17.2408 15.88 17.24C16.0116 17.2408 16.1421 17.2155 16.2639 17.1658C16.3857 17.116 16.4966 17.0427 16.59 16.95L20.83 12.71C20.9237 12.617 20.9981 12.5064 21.0489 12.3846C21.0997 12.2627 21.1258 12.132 21.1258 12C21.1258 11.868 21.0997 11.7373 21.0489 11.6154C20.9981 11.4936 20.9237 11.383 20.83 11.29Z" fill="white"/>
                    </svg>
                </a>
                                    
            </div>
        </div>
    </section>
                                

    <!-- ============================================ -->
    <!--                 Side By Side                 -->
    <!-- ============================================ -->

    <section id="sbs-83">
        <div class="cs-container">
            <!-- Left Section -->
            <div class="cs-image-group">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="\assets\images\Screenshot 2024-06-28 174824.png">
                    <source media="(min-width: 601px)" srcset="\assets\images\Screenshot 2024-06-28 174824.png">
                    <img loading="lazy" decoding="async" src="\assets\images\Screenshot 2024-06-28 174824.png" alt="people outside" width="254" height="262">
                </picture>
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/assets/images/Screenshot 2024-06-28 174854.png">
                    <source media="(min-width: 601px)" srcset="/assets/images/Screenshot 2024-06-28 174854.png">
                    <img loading="lazy" decoding="async" src="/assets/images/Screenshot 2024-06-28 174854.png" alt="people outside" width="254" height="262">
                </picture>
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/assets/images/Screenshot 2024-06-28 174942.png">
                    <source media="(min-width: 601px)" srcset="/assets/images/Screenshot 2024-06-28 174942.png">
                    <img loading="lazy" decoding="async" src="/assets/images/Screenshot 2024-06-28 174942.png" alt="person gardening" width="254" height="262">
                </picture>
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/assets/images/Screenshot 2024-06-28 175007.png">
                    <source media="(min-width: 601px)" srcset="/assets/images/Screenshot 2024-06-28 175007.png">
                    <img loading="lazy" decoding="async" src="/assets/images/Screenshot 2024-06-28 175007.png" alt="urban environment in green" width="254" height="262">
                </picture>
            </div>
            <!-- Right Section -->
            <div class="cs-content">
                <span class="cs-topper">Featured Service</span>
                <h2 class="cs-title">Interior Painting At An Affordable Price</h2>
                <p class="cs-text">
                    Discover the difference with Vivid Interior Painting, where we specialize in bringing your vision to life within your home. Our dedicated team of skilled painters ensures meticulous preparation and execution, using high-quality materials and precise techniques to achieve stunning results. Whether refreshing a single room or revitalizing your entire home, we offer personalized color consultations and expert advice to complement your style. Trust Vivid Interior Painting for unparalleled craftsmanship and a vibrant, refreshed interior that reflects your taste and enhances your living space
                </p>
                <ul class="cs-card-group">
                    <li class="cs-item">
                        <span class="cs-number">190+</span>
                        <h3 class="cs-h3">Happy Customers</h3>
                    </li>
                    <li class="cs-item">
                        <span class="cs-number">10+</span>
                        <h3 class="cs-h3">Years of Experience</h3>
                    </li>
                    <li class="cs-item">
                        <span class="cs-number">5,000</span>
                        <h3 class="cs-h3">Buckets of Paint Used</h3>
                    </li>
                </ul>
            </div>
        </div>
    </section>
                
                                

    <!-- ============================================ -->
    <!--                 Why Choose                   -->
    <!-- ============================================ -->

    <section id="why-choose-289">
        <div class="cs-container">
            <div class="cs-content">
                <div class="cs-flex">
                    <span class="cs-topper">Why Choose Us</span>
                    <h2 class="cs-title">Crafting Timeless Interiors, One Brushstroke at a Time</h2>
                </div>
                <p class="cs-text">
                    At Vivid Interior Painting, we distinguish ourselves through a blend of expertise, creativity, and dedication. Our team excels in delivering meticulous craftsmanship, using premium materials and precise techniques to achieve flawless results. 
                </p>
            </div>
            <ul class="cs-card-group">
                <li class="cs-item">
                    <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Why-Choose/award.svg" alt="icon" width="48" height="48">
                    <h3 class="cs-h3">Precision: Expert Craftsmanship</h3>
                    <p class="cs-item-text">
                        Our team at Vivid Interior Painting is renowned for precision and expertise. We meticulously prepare surfaces and apply paint with care, ensuring flawless finishes that stand the test of time. With a focus on quality materials and attention to detail, we bring your vision to life with unmatched precision and craftsmanship.
                    </p>
                </li>
                <li class="cs-item">
                    <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Why-Choose/sheild-black.svg" alt="icon" width="40" height="48">
                    <h3 class="cs-h3">Personalization: Tailored Color Consultations</h3>
                    <p class="cs-item-text">
                        At Vivid Interior Painting, we believe your home should reflect your personality. That's why we offer personalized color consultations to help you choose the perfect palette. Whether you seek bold statements or subtle accents, our experts guide you through every step, ensuring your space is a true reflection of your style and taste.
                    </p>
                </li>
                <li class="cs-item">
                    <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Why-Choose/call.svg" alt="icon" width="48" height="48">
                    <h3 class="cs-h3">Commitment: Exceptional Customer Care</h3>
                    <p class="cs-item-text">
                        Our commitment to exceptional customer care sets us apart. From initial consultation to final inspection, we prioritize clear communication and customer satisfaction. With a dedicated team that listens to your needs and delivers on promises, Vivid Interior Painting ensures a smooth and enjoyable painting experience from start to finish.
                    </p>
                </li>
            </ul>
        </div>
    </section>
                

    <!-- ============================================ -->
    <!--                   Gallery                    -->
    <!-- ============================================ -->

    <section id="gallery">
        <div class="cs-container">
            <span class="cs-topper">Our Portfolio</span>
            <h2 class="cs-title">Check Out Our Transformed Living Spaces</h2>
            <div class="cs-image-group">
                <!-- Row 1-->
                <div class="cs-row cs-row-1">
                    <!-- To add more images, copy and paste this row's picture tags here in order from cs-picture-1 to cs-picture-3 and they will maintain the same layout-->
                    <picture class="cs-picture cs-picture1">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/port1-m.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/port1.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/port1.jpg" alt="new hallway" loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="cs-picture cs-picture2">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/port4-m.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/port4.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/port4.jpg" alt="new home construction" loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="cs-picture cs-picture3">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/port7-m.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/port7.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/port7.jpg" alt="building a new wall" loading="lazy" width="400" height="560">
                    </picture>
                </div>
                <!-- Row 2 -->
                <div class="cs-row cs-row-2">
                    <!-- To add more images, copy and paste this row's picture tags here in order from cs-picture-1 to cs-picture-3 and they will maintain the same layout-->
                    <picture class="cs-picture cs-picture1">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/port2-m.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/port2.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/port2.jpg" alt="new kitchen" loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="cs-picture cs-picture2">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/port5-m.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/port5.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/port5.jpg" alt="apartment addition" loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="cs-picture cs-picture3">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/port8-m.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/port8.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/port8.jpg" alt="kew kitchen cabinets" loading="lazy" width="400" height="560">
                    </picture>
                </div>
                <!-- Row 3 -->
                <div class="cs-row cs-row-3">
                    <!-- To add more images, copy and paste this row's picture tags here in order from cs-picture-1 to cs-picture-3 and they will maintain the same layout-->
                    <picture class="cs-picture cs-picture1">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/port3-m.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/port3.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/port3.jpg" alt="new kitchen" loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="cs-picture cs-picture2">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/port6-m.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/port6.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/port6.jpg" alt="apartment addition" loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="cs-picture cs-picture3">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/port9-m.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/port9.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/port9.jpg" alt="kew kitchen cabinets" loading="lazy" width="400" height="560">
                    </picture>

                </div>
            </div>
            <a href="" class="cs-button-10" aria-label="read more about us">
                See More
                <svg class="cs-icon" aria-hidden="true" width="30" height="24" viewBox="0 0 30 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M14.83 11.29L10.59 7.05001C10.497 6.95628 10.3864 6.88189 10.2646 6.83112C10.1427 6.78035 10.012 6.75421 9.88 6.75421C9.74799 6.75421 9.61729 6.78035 9.49543 6.83112C9.37357 6.88189 9.26297 6.95628 9.17 7.05001C8.98375 7.23737 8.87921 7.49082 8.87921 7.75501C8.87921 8.0192 8.98375 8.27265 9.17 8.46001L12.71 12L9.17 15.54C8.98375 15.7274 8.87921 15.9808 8.87921 16.245C8.87921 16.5092 8.98375 16.7626 9.17 16.95C9.26344 17.0427 9.37426 17.116 9.4961 17.1658C9.61794 17.2155 9.7484 17.2408 9.88 17.24C10.0116 17.2408 10.1421 17.2155 10.2639 17.1658C10.3857 17.116 10.4966 17.0427 10.59 16.95L14.83 12.71C14.9237 12.617 14.9981 12.5064 15.0489 12.3846C15.0997 12.2627 15.1258 12.132 15.1258 12C15.1258 11.868 15.0997 11.7373 15.0489 11.6154C14.9981 11.4936 14.9237 11.383 14.83 11.29Z" fill="white"/>
                    <path d="M20.83 11.29L16.59 7.05001C16.497 6.95628 16.3864 6.88189 16.2646 6.83112C16.1427 6.78035 16.012 6.75421 15.88 6.75421C15.748 6.75421 15.6173 6.78035 15.4954 6.83112C15.3736 6.88189 15.263 6.95628 15.17 7.05001C14.9838 7.23737 14.8792 7.49082 14.8792 7.75501C14.8792 8.0192 14.9838 8.27265 15.17 8.46001L18.71 12L15.17 15.54C14.9838 15.7274 14.8792 15.9808 14.8792 16.245C14.8792 16.5092 14.9838 16.7626 15.17 16.95C15.2634 17.0427 15.3743 17.116 15.4961 17.1658C15.6179 17.2155 15.7484 17.2408 15.88 17.24C16.0116 17.2408 16.1421 17.2155 16.2639 17.1658C16.3857 17.116 16.4966 17.0427 16.59 16.95L20.83 12.71C20.9237 12.617 20.9981 12.5064 21.0489 12.3846C21.0997 12.2627 21.1258 12.132 21.1258 12C21.1258 11.868 21.0997 11.7373 21.0489 11.6154C20.9981 11.4936 20.9237 11.383 20.83 11.29Z" fill="white"/>
                </svg>
            </a>
                                
        </div>
    </section>

    <!-- ============================================ -->
    <!--                   Reviews                    -->
    <!-- ============================================ -->

    <section id="reviews">
        <div class="cs-container">
            <span class="cs-topper">Our Reviews</span>
            <h2 class="cs-title">Words From Our Customers</h2>
            <p class="cs-text">
                Transforming Homes with Expertise and Care. Discover why clients rave about our personalized service and impeccable results.
            </p>
            <ul class="cs-card-group">
                <!-- Review 1 -->
                <li class="cs-item">
                    <p class="cs-item-p">
                        We hired Vivid Interior Painting to refresh our living room, and we couldn't be happier with the results. From the initial consultation to the final brushstroke, their team showed exceptional professionalism and attention to detail. They truly transformed our space with expert craftsmanship and a keen eye for color.
                    </p>
                    <span class="cs-reviewer">
                        Jon Doe
                        <span class="cs-desc">Homeowner</span>
                    </span>
                    <img
                    class="cs-item-stars"
                    aria-hidden="true"
                    loading="lazy"
                    decoding="async"
                    src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/stars-yellow.svg"
                    alt="stars"
                    width="96"
                    height="16"/>
                </li>
                <!-- Review 2 -->
                <li class="cs-item">
                    <p class="cs-item-p">
                        Vivid Interior Painting exceeded our expectations! Their personalized color consultation helped us choose the perfect palette for our home. The attention to detail and quality of their workmanship are unmatched. Our rooms look stunning and feel completely revitalized. Thank you for making our vision a reality!
                    </p>
                    <span class="cs-reviewer">
                        Jane Marcellus
                        <span class="cs-desc">Homeowner</span>
                    </span>
                    <img
                    class="cs-item-stars"
                    aria-hidden="true"
                    loading="lazy"
                    decoding="async"
                    src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/stars-yellow.svg"
                    alt="stars"
                    width="96"
                    height="16"/>
                </li>
            </ul>
            <a href="" class="cs-button-10" aria-label="read more about us">
                More Reviews
                <svg class="cs-icon" aria-hidden="true" width="30" height="24" viewBox="0 0 30 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M14.83 11.29L10.59 7.05001C10.497 6.95628 10.3864 6.88189 10.2646 6.83112C10.1427 6.78035 10.012 6.75421 9.88 6.75421C9.74799 6.75421 9.61729 6.78035 9.49543 6.83112C9.37357 6.88189 9.26297 6.95628 9.17 7.05001C8.98375 7.23737 8.87921 7.49082 8.87921 7.75501C8.87921 8.0192 8.98375 8.27265 9.17 8.46001L12.71 12L9.17 15.54C8.98375 15.7274 8.87921 15.9808 8.87921 16.245C8.87921 16.5092 8.98375 16.7626 9.17 16.95C9.26344 17.0427 9.37426 17.116 9.4961 17.1658C9.61794 17.2155 9.7484 17.2408 9.88 17.24C10.0116 17.2408 10.1421 17.2155 10.2639 17.1658C10.3857 17.116 10.4966 17.0427 10.59 16.95L14.83 12.71C14.9237 12.617 14.9981 12.5064 15.0489 12.3846C15.0997 12.2627 15.1258 12.132 15.1258 12C15.1258 11.868 15.0997 11.7373 15.0489 11.6154C14.9981 11.4936 14.9237 11.383 14.83 11.29Z" fill="white"/>
                    <path d="M20.83 11.29L16.59 7.05001C16.497 6.95628 16.3864 6.88189 16.2646 6.83112C16.1427 6.78035 16.012 6.75421 15.88 6.75421C15.748 6.75421 15.6173 6.78035 15.4954 6.83112C15.3736 6.88189 15.263 6.95628 15.17 7.05001C14.9838 7.23737 14.8792 7.49082 14.8792 7.75501C14.8792 8.0192 14.9838 8.27265 15.17 8.46001L18.71 12L15.17 15.54C14.9838 15.7274 14.8792 15.9808 14.8792 16.245C14.8792 16.5092 14.9838 16.7626 15.17 16.95C15.2634 17.0427 15.3743 17.116 15.4961 17.1658C15.6179 17.2155 15.7484 17.2408 15.88 17.24C16.0116 17.2408 16.1421 17.2155 16.2639 17.1658C16.3857 17.116 16.4966 17.0427 16.59 16.95L20.83 12.71C20.9237 12.617 20.9981 12.5064 21.0489 12.3846C21.0997 12.2627 21.1258 12.132 21.1258 12C21.1258 11.868 21.0997 11.7373 21.0489 11.6154C20.9981 11.4936 20.9237 11.383 20.83 11.29Z" fill="white"/>
                </svg>
            </a>
                                
        </div>
    </section>

    {% include 'components/cta.html' %}
{% endblock %}